doctype html
html
  head
    meta(cahrset='utg-8')
    meta(content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport')
    meta(content='' name='description')
    title SITE TITLE
    link(href='css/main.css' rel='stylesheet' type='text/css')

  body
    script(src='js/https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/app.js')

    header
    .viralio sdfsadf sdfsfsdfds
    footer
